certifi==2019.11.28
Click==7.0
dlib==19.19.0
ffmpeg==1.4
ffmpeg-python==0.2.0
Flask==1.1.1
future==0.18.2
imutils==0.5.3
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.14.1
MarkupSafe==1.1.1
numpy==1.18.0
opencv-contrib-python==4.1.2.30
pandas==0.25.3
pathspec==0.6.0
Pillow==6.2.1
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.21.3
scipy==1.4.1
six==1.13.0
sklearn==0.0
torch==1.2.0
torchvision==0.4.0
Werkzeug==0.16.0
yamllint==1.19.0
