certifi==2019.11.28
Click==7.0
cmake==3.15.3
dlib==19.19.0
ffmpeg==1.4
ffmpeg-python==0.2.0
ffprobe==0.5
ffprobe-python==1.0.3
Flask==1.1.1
future==0.18.2
imutils==0.5.3
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.14.1
MarkupSafe==1.1.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.18.0
olefile==0.46
opencv-contrib-python==4.1.2.30
pandas==0.25.3
pathspec==0.6.0
Pillow==7.0.0
python-dateutil==2.8.1
pytz==2019.3python
PyYAML==5.3
scikit-learn==0.21.3
scipy==1.4.1
six==1.13.0
sklearn==0.0
torch==1.4.0
torchvision==0.5.0
Werkzeug==0.16.0
yamllint==1.19.0
